Source: ksysguard6
Section: kde
Priority: optional
Maintainer: Volodymyr Zolotopupov <zvova7890@gmail.com>
Rules-Requires-Root: no
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 quilt,
 extra-cmake-modules | kf6-extra-cmake-modules,
 qt6-base-dev,
 qt6-declarative-dev,
 libkf6coreaddons-dev | kf6-kcoreaddons-dev,
 libkf6declarative-dev | kf6-kdeclarative-dev,
 libkf6package-dev | kf6-kpackage-dev,
 libkf6dbusaddons-dev | kf6-kdbusaddons-dev,
 libkf6iconthemes-dev | kf6-kiconthemes-dev,
 libkf6itemviews-dev | kf6-kitemviews-dev,
 libkf6svg-dev | kf6-ksvg-dev,
 libkf6newstuff-dev | kf6-knewstuff-dev,
 libkf6notifications-dev,
 libkf6windowsystem-dev,
 libkf6configwidgets-dev,
 libkf6globalaccel-dev,
 libkf6xmlgui-dev,
 libkf6kio-dev | kio6-dev,
 kdoctools-dev | libkf6doctools-dev,
 libkf6auth-dev,
 libplasma-dev,
 libkf6kcmutils-dev,
 libkf6config-dev,
 libksysguard-dev,
 qt6-webengine-dev,
 libpcap0.8-dev,
 libsensors-dev,
 libnl-3-dev,
 libnl-genl-3-dev,
 libnl-route-3-dev

Package: ksysguard6
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Track and control the processes running in your system (KF6 version)
